<!DOCTYPE html>
<html>
  <head>
    <title>AuthApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if customer_signed_in? %>    
      <%= link_to 'Sign out', destroy_customer_session_path, method: :delete, :class => 'links' %>
    <% else %>
    <%= link_to 'Login', new_customer_session_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
